{% assign ongoing_collection_products = collections[_section.ongoing_collection].products %}

<section class="section-recharge" id="recharge-step-2">
  <div class="shell">
    <div class="section__inner">
      <header class="section__head">
        <h2>
          {{ _section.ongoing_page_title }}  <br>

          <span>{{ _section.ongoing_page_product_price }}</span>
        </h2>

        <p>{{ _section.ongoing_page_delivery_text }}</p>
      </header><!-- /.section__head -->

      <div class="section__body">
        <div class="radios">
          {% for ongoing in ongoing_collection_products %}
            <input
              type="radio"
              name="ongoing-product"
              id="ongoing_product_{{ ongoing.id }}"
              {% if forloop.index == 2 %}
              checked
              {% endif %}
            >
          {% endfor %}
        </div><!-- /.radios -->

        <div class="products">
          {% for ongoing in ongoing_collection_products %}
            <div
              class="product product--alt {% if forloop.index == 2 %}selected {% endif %}product-{{ forloop.index }}"
              data-ongoing-product-title="{{ ongoing.title }}"
              data-ongoing-product-id="{{ ongoing.id }}"
            >
              <div class="product__inner">
                <a href="#ongoing_product_{{ ongoing.id }}" class="ongoing_product__link product__link"></a>

                <div class="product__image">
                  <img src="{{ ongoing.featured_image | img_url: '1024x1024' }}" alt="{{ ongoing.featured_image.alt | escape }}" id="product-image">
                </div><!-- /.product__image -->

                <div class="product__content">
                  <h3 class="product__title">{{ ongoing.title }}</h3>

                  <ul class="list-tags">
                    {% for tag in ongoing.tags %}
                      <li>{{ tag }}</li>
                    {% endfor %}
                  </ul><!-- /.list-tags -->

                  <div class="product__quantity">
                    <p>
                      12 vegan blend sachets
                    </p>
                  </div><!-- /.product__quantity -->
                </div><!-- /.product__content -->
              </div><!-- /.product__inner -->
            </div><!-- /.product -->
          {% endfor %}
        </div><!-- /.products -->

        <div class="variants">
          <header class="variants__head">
            <h2><span>Choose Your Flavor</span></h2>
          </header><!-- /.variants__head -->

          <div class="product-variant-selectors">
            {% for ongoing in ongoing_collection_products %}
              <ul class="product-variant-selector product-id-{{ ongoing.id }}">
                {% for variant in ongoing.variants %}
                  <li
                    class="variant"
                    data-ongoing-variant-id="{{ variant.metafields.subscriptions.discount_variant_id }}"
                    data-ongoing-sku="{{ variant.sku }}"
                    data-ongoing-variant-title="{{ variant.title }}"
                  >
                    <div class="radio">
                      <input type="radio" name="field-radio" id="variant-vanilla">

                      <label for="variant-vanilla" class="form__label">
                        <span style="background-image: url({{ 'variant-1-image-retina.png' | asset_url }})"></span>

                        Vanilla
                      </label>
                    </div><!-- /.radio -->
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>

          <ul>
            <li class="variant">
              <div class="radio">
                <input type="radio" name="field-radio" id="variant-vanilla">

                <label for="variant-vanilla" class="form__label">
                  <span style="background-image: url({{ 'variant-1-image-retina.png' | asset_url }})"></span>

                  Vanilla
                </label>
              </div><!-- /.radio -->
            </li>

            <li class="variant">
              <div class="radio">
                <input type="radio" name="field-radio" id="variant-chocolate" checked>

                <label for="variant-chocolate" class="form__label">
                  <span style="background-image: url({{ 'variant-2-image-retina.png' | asset_url }})"></span>

                  Chocolate
                </label>
              </div><!-- /.radio -->
            </li>

            <li class="variant">
              <div class="radio">
                <input type="radio" name="field-radio" id="variant-mixed">

                <label for="variant-mixed" class="form__label">
                  <span style="background-image: url({{ 'variant-3-image-retina.png' | asset_url }})"></span>

                  Mixed
                </label>
              </div><!-- /.radio -->
            </li>
          </ul>
        </div><!-- /.variants -->
      </div><!-- /.section__body -->
    </div><!-- /.section__inner -->

    <div class="section__actions">
      <a href="#recharge-step-3" class="btn recharge-step-3">{{ _section.ongoing_page_btn_text }}</a>
    </div><!-- /.section__actions -->

    <footer class="section__foot">
      <p class="error_message">
        Please select variant
      </p><!-- /.error_message -->

      <div class="rte">
        {{ _section.ongoing_page_footer_text }}
      </div>
    </footer><!-- /.section__foot -->
  </div><!-- /.shell -->
</section><!-- /.section-recharge -->
