{%- assign _section  = section.settings -%}

<div class="section-password" {% if _section.background_image != blank %} style="background-image: url('{{ _section.background_image | img_url: '2048x' }}')" {% endif %}>
	<div class="section__inner">
		<div class="section__head">
			{%- if _section.logo_image != blank -%}
				<a href="/password" class="logo">
					{{ _section.logo_image | img_url: '600x' | img_tag }}
				</a>
			{%- endif -%}

			{%- if _section.title != blank or _section.subtitle != blank -%}
				<div class="section__head-inner">
					{%- if _section.title != blank -%}
						<h2>{{ _section.title | newline_to_br }}</h2>
					{%- endif -%}

					{%- if _section.subtitle != blank -%}
						<p>{{ _section.subtitle | newline_to_br }}</p>
					{%- endif -%}
				</div><!-- /.section__head-inner -->
			{%- endif -%}
		</div><!-- /.section__head -->

		<div class="section__body">
			{%- if _section.embedded_form != blank -%}
				{{ _section.embedded_form }}
			{%- endif -%}

			{%- if _section.checkbox_text != blank -%}
				<div class="checkbox">
					<input type="checkbox" name="field-checkbox" id="field-checkbox">

					<label for="field-checkbox" class="form__label">
						{{ _section.checkbox_text }}

						{%- if _section.popup_label != blank and _section.popup_page != blank -%}
							<a href="#privacy-popup">
								{{ _section.popup_label }}
							</a>
						{%- endif -%}
					</label>
				</div><!-- /.checkbox -->
			{%- endif -%}
		</div><!-- /.section__body -->

		<footer class="section__foot">
			{%- include 'socials' -%}
		</footer><!-- /.section__foot -->
	</div><!-- /.section__inner -->

	{%- if _section.popup_label != blank and _section.popup_page != blank -%}
		<div class="popup-content mfp-hide" id="privacy-popup">
			{{ pages[_section.popup_page].content }}
		</div><!-- /.popup-content -->
	{%- endif -%}
</div><!-- /.section-password -->

{% schema %}
{
	"name": "Page Options",
	"settings": [
		{
			"type": "header",
			"content": "Misc"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background Image"
		},
		{
			"type": "image_picker",
			"id": "logo_image",
			"label": "Logo"
		},
		{
			"type": "textarea",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "textarea",
			"id": "subtitle",
			"label": "Subtitle"
		},
		{
			"type": "textarea",
			"id": "embedded_form",
			"label": "Klaviyo Embedded Form"
		},
		{
			"type": "text",
			"id": "checkbox_text",
			"label": "Checkbox Text"
		},
		{
			"type": "header",
			"content": "Popup"
		},
		{
			"type": "text",
			"id": "popup_label",
			"label": "Link Label"
		},
		{
			"type": "page",
			"id": "popup_page",
			"label": "Popup Page Content"
		}
	]
}
{% endschema %}
