
<section class="section-steps">
	<div class="shell">
		<nav class="nav-steps">
			<ul>
				<li class="active recharge-previous-step">
					<a href="#recharge-step-1">Trial Set</a>
				</li>

				<li class="step-2 recharge-previous-step">
					<a href="#recharge-step-2">Ongoing Deliveries</a>
				</li>

				<li class="step-3 recharge-previous-step">
					<a href="#recharge-step-3">Ongoing Frequency</a>
				</li>
			</ul>
		</nav><!-- /.nav -->
	</div><!-- /.shell -->
</section><!-- /.section-steps -->

<form action="?" method="post">
	<section class="section-recharge visible" id="recharge-step-1">
		<div class="shell">
			<div class="section__inner">
				<header class="section__head">
					<h2>
						Customize Your Trial <br>

						<span>$5</span>
					</h2>

					<p>+ free delivery</p>
				</header><!-- /.section__head -->

				<div class="section__body">
					<div class="radios">
						<input type="radio" name="recharge-product" id="product-1">
						<input type="radio" name="recharge-product" id="product-2" checked>
						<input type="radio" name="recharge-product" id="product-3">
					</div><!-- /.radios -->

					<div class="products">
						<div class="product">
							<div class="product__inner">
								<a href="#product-1" class="product__link"></a>

								<div class="product__image">
									<img src="{{ 'product-image-1.png' | asset_url }}" alt="">
								</div><!-- /.product__image -->

								<div class="product__content">
									<h3 class="product__title">Vegan Protein Trial</h3>

									<ul class="list-tags">
										<li>plant based</li>

										<li>allergy concious</li>

										<li>pea & hemp</li>
									</ul><!-- /.list-tags -->

									<div class="product__ingredients">
										<h4>Includes</h4>

										<ul class="list-ingredients">
											<li>2 Vanilla Vegan Protein</li>

											<li>2 Chocolate Protein Chocolate</li>

											<li>Neat Shaker</li>
										</ul><!-- /.list-ingredients -->
									</div><!-- /.product__ingredients -->
								</div><!-- /.product__content -->
							</div><!-- /.product__inner -->
						</div><!-- /.product -->

						<div class="product selected">
							<div class="product__inner">
								<a href="#product-2" class="product__link"></a>

								<div class="product__image">
									<img src="{{ 'product-image-2.png' | asset_url }}" alt="">
								</div><!-- /.product__image -->

								<div class="product__content">
									<div class="product__title">
										<h3>Mixed Protein Trial</h3>
									</div><!-- /.product__title -->

									<ul class="list-tags">
										<li>plant & dairy</li>

										<li>great tasting</li>

										<li>pea best of both</li>
									</ul><!-- /.list-tags -->

									<div class="product__ingredients">
										<h4>Includes</h4>

										<ul class="list-ingredients">
											<li>2 Vegan Protein (Vanilla + Chocolate)</li>

											<li>2 Whey Protein (Vanilla + Chocolate)</li>

											<li>Neat Shaker</li>
										</ul><!-- /.list-ingredients -->
									</div><!-- /.product__ingredients -->
								</div><!-- /.product__content -->
							</div><!-- /.product__inner -->
						</div><!-- /.product -->

						<div class="product">
							<div class="product__inner">
								<a href="#product-3" class="product__link"></a>

								<div class="product__image">
									<img src="{{ 'product-image-3.png' | asset_url }}" alt="">
								</div><!-- /.product__image -->

								<div class="product__content">
									<div class="product__title">
										<h3>Whey Protein Trial</h3>
									</div><!-- /.product__title -->

									<ul class="list-tags">
										<li>dairy based</li>

										<li>smooth & tasty</li>

										<li>amino acids</li>
									</ul><!-- /.list-tags -->

									<div class="product__ingredients">
										<h4>Includes</h4>

										<ul class="list-ingredients">
											<li>2 Vanilla Whey Protein</li>

											<li>2 Chocolate Whey Protein</li>

											<li>Neat Shaker</li>
										</ul><!-- /.list-ingredients -->
									</div><!-- /.product__ingredients -->
								</div><!-- /.product__content -->
							</div><!-- /.product__inner -->
						</div><!-- /.product -->
					</div><!-- /.products -->
				</div><!-- /.section__body -->
			</div><!-- /.section__inner -->

			<div class="section__actions">
				<a href="#recharge-step-2" class="btn recharge-step-2">Next Step</a>
			</div><!-- /.section__actions -->

			<footer class="section__foot">
				<p class="error_message">
					Please select product
				</p><!-- /.error_message -->

				<p>
					Trial Set Includes 4 Protein servings of your choice, a Neat Shaker, and recipe booklet. Lasts 1 to 2 weeks depending on your lifestyle.
				</p>
			</footer><!-- /.section__foot -->
		</div><!-- /.shell -->
	</section><!-- /.section-recharge -->

	<section class="section-recharge" id="recharge-step-2">
		<div class="shell">
			<div class="section__inner">
				<header class="section__head">
					<h2>
						Customize your ongoing protein plan  <br>

						<span>$20</span>
					</h2>

					<p>+ free delivery</p>
				</header><!-- /.section__head -->

				<div class="section__body">
					<div class="radios">
						<input type="radio" name="recharge-product-alt" id="product-alt-1">
						<input type="radio" name="recharge-product-alt" id="product-alt-2" checked>
						<input type="radio" name="recharge-product-alt" id="product-alt-3">
					</div><!-- /.radios -->

					<div class="products">
						<div class="product product--alt product-1">
							<div class="product__inner">
								<a href="#product-alt-1" class="product__link"></a>

								<div class="product__image">
									<img src="{{ 'product-image-1.png' | asset_url }}" alt="">
								</div><!-- /.product__image -->

								<div class="product__content">
									<div class="product__title">
										<h3>Vegan Protein Trial</h3>
									</div><!-- /.product__title -->

									<div class="product__quantity">
										<p>
											12 vegan blend sachets
										</p>
									</div><!-- /.product__quantity -->
								</div><!-- /.product__content -->
							</div><!-- /.product__inner -->
						</div><!-- /.product -->

						<div class="product product--alt product-2 selected">
							<div class="product__inner">
								<a href="#product-alt-2" class="product__link"></a>

								<div class="product__image">
									<img src="{{ 'product-image-2.png' | asset_url }}" alt="">
								</div><!-- /.product__image -->

								<div class="product__content">
									<div class="product__title">
										<h3>Mixed Protein Trial</h3>
									</div><!-- /.product__title -->

									<div class="product__quantity">
										<p>
											6 whey & 6 vegan sachets
										</p>
									</div><!-- /.product__quantity -->
								</div><!-- /.product__content -->
							</div><!-- /.product__inner -->
						</div><!-- /.product -->

						<div class="product product--alt product-3">
							<div class="product__inner">
								<a href="#product-alt-3" class="product__link"></a>

								<div class="product__image">
									<img src="{{ 'product-image-3.png' | asset_url }}" alt="">
								</div><!-- /.product__image -->

								<div class="product__content">
									<div class="product__title">
										<h3>Whey Protein Trial</h3>
									</div><!-- /.product__title -->

									<div class="product__quantity">
										<p>
											12 whey blend sachets
										</p>
									</div><!-- /.product__quantity -->
								</div><!-- /.product__content -->
							</div><!-- /.product__inner -->
						</div><!-- /.product -->
					</div><!-- /.products -->

					<div class="variants">
						<header class="variants__head">
							<h2><span>Choose Your Flavor</span></h2>
						</header><!-- /.variants__head -->

						<ul>
							<li class="variant">
								<div class="radio">
									<input type="radio" name="field-radio" id="variant-vanilla">

									<label for="variant-vanilla" class="form__label">
										<span style="background-image: url('{{ 'variant-1-image-retina.png' | asset_url }}')"></span>

										Vanilla
									</label>
								</div><!-- /.radio -->
							</li>

							<li class="variant">
								<div class="radio">
									<input type="radio" name="field-radio" id="variant-chocolate" checked>

									<label for="variant-chocolate" class="form__label">
										<span style="background-image: url('{{ 'variant-2-image-retina.png' | asset_url }}")'></span>

										Chocolate
									</label>
								</div><!-- /.radio -->
							</li>

							<li class="variant">
								<div class="radio">
									<input type="radio" name="field-radio" id="variant-mixed">

									<label for="variant-mixed" class="form__label">
										<span style="background-image: url('{{ 'variant-3-image-retina.png' | asset_url }}')"></span>

										Mixed
									</label>
								</div><!-- /.radio -->
							</li>
						</ul>
					</div><!-- /.variants -->
				</div><!-- /.section__body -->
			</div><!-- /.section__inner -->

			<div class="section__actions">
				<a href="#recharge-step-3" class="btn recharge-step-3">Next Step</a>
			</div><!-- /.section__actions -->

			<footer class="section__foot">
				<p class="error_message">
					Please select variant
				</p><!-- /.error_message -->

				<p>
					Your first refill dispatches June 7, 2018 and is not charged today. If you’re not sure about a subscription yet, don’t worry! We’ll ask <br>you on June 5, 2018 and you can easily make changes, or cancel if it’s not right for you.
				</p>
			</footer><!-- /.section__foot -->
		</div><!-- /.shell -->
	</section><!-- /.section-recharge -->

	<section class="section-recharge" id="recharge-step-3">
		<div class="shell">
			<div class="section__inner">
				<header class="section__head">
					<h2>
						How neat are you? <br>

						<span>12 sachets</span>
					</h2>

					<p>per delivery</p>
				</header><!-- /.section__head -->

				<div class="section__body">
					<div class="radios">
						<input type="radio" name="recharge-period" id="period-1">
						<input type="radio" name="recharge-period" id="period-2" checked>
						<input type="radio" name="recharge-period" id="period-3">
					</div><!-- /.radios -->

					<div class="periods">
						<div class="period">
							<div class="period__inner">
								<a href="#period-1" class="period__link"></a>

								<div class="period__image">
									<img src="{{ 'period-image-1.png' | asset_url }}" alt="" class="hidden-xs">
									<img src="{{ 'period-1-mobile-retina.png' | asset_url }}" alt="" class="visible-xs-block">
								</div><!-- /.period__image -->

								<div class="period__info">
									<div class="period__title">
										<h3>
											Pretty neat
										</h3>
									</div><!-- /.period__title -->

									<div class="period__content">
										<p>
											Delivered every 2 months
										</p>
									</div><!-- /.period__content -->
								</div><!-- /.period__info -->
							</div><!-- /.period__inner -->
						</div><!-- /.period -->

						<div class="period selected">
							<div class="period__inner">
								<a href="#period-2" class="period__link"></a>

								<div class="period__image">
									<img src="{{ 'period-image-2.png' | asset_url }}" alt="" class="hidden-xs">
									<img src="{{ 'period-2-mobile-retina.png' | asset_url }}" alt="" class="visible-xs-block">
								</div><!-- /.period__image -->

								<div class="period__info">
									<div class="period__title">
										<h3>
											Very neat
										</h3>
									</div><!-- /.period__title -->

									<div class="period__content">
										<p>
											Delivered every month
										</p>
									</div><!-- /.period__content -->
								</div><!-- /.period__info -->
							</div><!-- /.period__inner -->
						</div><!-- /.period -->

						<div class="period">
							<div class="period__inner">
								<a href="#period-3" class="period__link"></a>

								<div class="period__image">
									<img src="{{ 'period-image-3.png' | asset_url }}" alt="" class="hidden-xs">
									<img src="{{ 'period-3-mobile-retina.png' | asset_url }}" alt="" class="visible-xs-block">
								</div><!-- /.period__image -->

								<div class="period__info">
									<div class="period__title">
										<h3>
											Super neat
										</h3>
									</div><!-- /.period__title -->

									<div class="period__content">
										<p>
											Delivered every 2 weeks
										</p>
									</div><!-- /.period__content -->
								</div><!-- /.period__info -->
							</div><!-- /.period__inner -->
						</div><!-- /.period -->
					</div><!-- /.periods -->
				</div><!-- /.section__body -->
			</div><!-- /.section__inner -->

			<div class="section__actions">
				<button type="submit" class="btn recharge-submit">Review Order</button>
			</div><!-- /.section__actions -->

			<footer class="section__foot">
				<p class="error_message">
					Please select period
				</p><!-- /.error_message -->

				<p>
					We’ll send your ongoing boxes based on your protein requirements. It’s easy to change your shipping frequency at any time, so anytime you <br>want to change it up (including blend or flavour), you can manage from your account.
				</p>
			</footer><!-- /.section__foot -->
		</div><!-- /.shell -->
	</section><!-- /.section-recharge -->
</form>
